@import url('https://fonts.googleapis.com/css2?family=Kosugi&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
// font-family


$jap: 'Kosugi Maru', sans-serif;
$en:'Mukta', sans-serif;
.uppercase {
  text-transform: uppercase;
}


// colors
$base:#f7e04e;
$sub: #7aae3b;
$key:#f16e48;
$font:#363630;

$white:#f5f5f5;

$back-gray:#f0f0e6;
$back-yellow:#f7eeb0;


//size
@mixin fontsize($font : 24){
    font-size:($font + px);
    font-size:($font / 10)* 1rem;
}



/* Base
------------------------------------------------------------*/
body{
  @include fontsize(14);
  line-height: 1.6;
  letter-spacing: 0.5rem;
  font-family:$jap;
}
.en{
  font-family:$en;
  color:$key;
}

a {
  text-decoration: none;
  letter-spacing:.3;
  &:hover {
    text-decoration:none;
  }
}

ul{
  margin:0;
li{
  list-style:none;
}
}

h1, h2, h3, h4, p{
  margin:0;
  padding:0;
}
p{
  letter-spacing:.2rem;
}

/* Align
------------------------------------------------------------*/
.center {
  text-align: center;
}

/* Layout
------------------------------------------------------------*/
.center {
  text-align:center;
}






/* Header
------------------------------------------------------------*/
header{
  padding:0 5% 0 5%;
  display:flex;
  width:100%;
  height:80px;
  align-items:center;
  background:$base;
  .logo{
    flex:1;
    h1{
      padding:15px 0;
      margin:0;
      color:$font;
      @include fontsize(18);
      display:inline-block;
      img{
        width:10%;
        margin-right:10px;
      }
  }
  }
  nav{
    flex:1;
  .nav-link{
    display:flex;
    justify-content:space-between;
      a{
        color:$font;
        letter-spacing:.3rem;
        transition:.3s;
        &:hover{
          opacity:.7;
        }
      }
    }
  }
}

//topcover
#topcover{
padding-top:20px;
position:relative;
width:100%;
background:$base;
.main_text{
  width:100%;
  margin:0 auto;
  text-align:center;
  padding-top:60px;
  padding-bottom:100px;
  .title{
    @include fontsize(48);
    span{
      @include fontsize(36);
    }
  }
  .detail{
    @include fontsize(18);
  }
}
.backshape{
  width:250px;
  height:250px;
  background:#fff;
  opacity:.5;
  border-radius:50% 40%;
  position:absolute;
  top:0%;
  right:20%;
  z-index:-1;
}
.backshape2{
  width:80px;
  height:80px;
  background:$sub;
  opacity:.5;
  border-radius:30% 70% 70% 30% / 30% 30% 70% 70%;
  position:absolute;
  top:0%;
}
.backshape3{
  width:110px;
  height:110px;
  background:$key;
  opacity:.5;
  border-radius:48% 52% 44% 56% / 30% 46% 54% 70%;
  position:absolute;
  top:-10%;
  right:-2%;
}
.backshape4{
  width:140px;
  height:140px;
  background:$key;
  opacity:.5;
  border-radius:38% 62% 34% 66% / 50% 50% 50% 50%;
  position:absolute;
  bottom:15%;
  left:10%;
}
.backshape5{
  width:150px;
  height:150px;
  background:$sub;
  opacity:.5;
  border-radius:54% 56% 79% 21% / 64% 26% 79% 36%;
  position:absolute;
  bottom:0%;
  right:0%;
}
.backshape6{
  width:150px;
  height:150px;
  background:#fff;
  opacity:.5;
  border-radius:74% 26% 79% 21% / 64% 21% 79% 36%;
  position:absolute;
  top:-15%;
  left:20%;
  z-index:-1;
  
}



.humans{
  position:relative;
  .first{
      display:flex;
      justify-content:center;
      margin:-18px;
  img{
    width:10.5%;
    margin:0 -7px;
  }
}
.second{
    display:flex;
    position:absolute;
    top:2px;
    justify-content:center;
  img{
    width:10.5%;
    margin:5px -5px;
  }
}
}
}


//topics//
#topics{
  background:#f0f0e6;
  padding:70px 0;
  .sub_title{
    position:relative;
    &:after{
      content:"";
      background: $sub;
      height:3px;
      width:10%;
      margin-top:15px;
      margin-right:auto;
      margin-left:auto;
      display:block;
      bottom:10px;
    }
  }
  .card{
    padding:20px;
    text-align:left;
    .title{
      p{
        @include fontsize(14);
        color:$key;
        padding:15px 0;
      }
    }
    .news{
      figure{
        padding:50px;
        img{
          width:100%;
        }
      }
      .pattern-triangles-lg{
        background-size:5px 5px;
        color:$sub;
      }
    }
    .inner{
      background:#f5f5f5;
       padding:10px 5px;
     .news-text{
       padding:10px 5px;
       border-bottom:solid 1px $font;
     } 
    p{
      color:$font;
      @include fontsize(14);
    }
    .time{
      padding-top:5px;
      @include fontsize(10);
    }
    }
  }
  
}

//aboutus
#aboutus{
  padding:70px 0;
  background:$base;
  position:relative;
  .backshape{
  width:250px;
  height:250px;
  background:#fff;
  opacity:.5;
  border-radius:50% 40%;
  position:absolute;
  top:0%;
  right:20%;
}
.backshape2{
  width:80px;
  height:80px;
  background:$sub;
  opacity:.5;
  border-radius:30% 70% 70% 30% / 30% 30% 70% 70%;
  position:absolute;
  top:0%;
}
.backshape3{
  width:110px;
  height:110px;
  background:$key;
  opacity:.5;
  border-radius:48% 52% 44% 56% / 30% 46% 54% 70%;
  position:absolute;
  top:-10%;
  right:-2%;
}
.backshape4{
  width:140px;
  height:140px;
  background:$key;
  opacity:.5;
  border-radius:38% 62% 34% 66% / 50% 50% 50% 50%;
  position:absolute;
  bottom:15%;
  left:10%;
}
.backshape5{
  width:150px;
  height:150px;
  background:$sub;
  opacity:.5;
  border-radius:54% 56% 79% 21% / 64% 26% 79% 36%;
  position:absolute;
  bottom:0%;
  right:0%;
}
.backshape6{
  width:150px;
  height:150px;
  background:#fff;
  opacity:.5;
  border-radius:74% 26% 79% 21% / 64% 21% 79% 36%;
  position:absolute;
  top:-15%;
  left:20%;
}

    .text{
      p{
        @include fontsize(14);
        display:block;
        padding:15px 0;
      }
    }
    
    .humans{
     position:relative;
     padding-top:50px;
     .third{
       display:flex;
       justify-content:center;
       margin:-23px;
       img{
         width:5%;
       }
     }
    }
    
    .button{
    padding: 14px 32px;
    border-radius:6px;
    display:block;
    width:25%;
    text-align:center;
    margin:0 auto;
    font-weight:bold;
    letter-spacing:.2rem;
    @include fontsize(14);
    transition:all .2s;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    background:$key;
    border:solid 1px $key;
    color:#fff;
&:hover {
    border:solid 1px $key;
    box-sizing:border-box;
    box-shadow: 0 1.5px 3.5px rgba(50,50,93,.1), 0 2px 4px rgba(0,0,0,.08);
    color:$key;
    background:#f5f5f5;
}
}
} 
  
  
//people//

#students{
 padding:70px 0;
 background:$back-gray;
 .en{
   padding:15px 0;
   text-align:center;
 }
 .stu{
   padding:30px 0;
   figure{
     text-align:center;
     padding:0 5%;
     position:relative;
     img{
       width:100%;
       height:auto;
       border-radius:2px;
     }
     .name{
       padding:10px 0;
       border-bottom:2px solid $back-yellow;
     }
     .name1{
       padding:10px 0;
       @include fontsize(12);
       }
       figcaption{
         background:$white;
         border-radius:2px;
       }
      &:after{
        content:"";
        width:90%;
        height:100%;
        position:absolute;
        top:7px;
        right:6px;
        background:$back-yellow;
        z-index:-1;
        border-radius:2px;
      }
   }
   .text{
     @include fontsize(16);
     display:inline-block;
   }
   .username{
     display:inline-block;
     font-weight:bold;
     margin-top:20px;
     span{
       font-weight:normal;
     }
   }
 }
}


//pickup//

#pickup{
  padding-top:70px;
  padding-bottom:50px;
  background:#fcfcfc;
  .en{
    text-align:center;
    padding:15px 0;
  }
  .banner{
    text-align:center;
    img{
      width:100%;
    }
  }
}
  

#contact{
  background:#fcfcfc;
  padding-bottom:70px;
  .conversion{
 padding:5px 0;
 display:flex;
 justify-content:center;
 align-items:center;
 h4{
   padding:5px 0;
   position:relative;
   @include fontsize(14);
   &:after{
     content:"";
     width:30%;
     height:3px;
     bottom:-2px;
     left:0%;
     background:$base;
     position:absolute;
   }
 }
 .tel{
  .tel-txt{
    @include fontsize(18);
    padding-top:20px;
  }
  .time{
    @include fontsize(12);
  }
 }
 .adress{
   p{
     padding-top:20px;
     @include fontsize(12);
   }
 }
}
.sns{
  text-align:center;
  padding-top:20px;
  .twitter{
    color:#1DA1F2;
  }
  .facebook{
    color:#0A65C2;
  }
  .line{
    color:#00B900;
  }
.fab{
  @include fontsize(48);
  width:100px;
}
}
}



//footer{
  #footer{
    background:$base;
    padding:20px 5% 0 5%;
    width: 100%;
    .footer{
      display: flex;
      align-items: center;
  .footer-box{
  img{
    width:100px;
  }
  ul{
    display:flex;
    justify-content:flex-end;
      li{
        padding:10px;
        letter-spacing:.2rem;
        a{
          color:$font;
          transition:.3s;
          &:hover{
            opacity:.7;
          }
          i{
            padding-right:5px;
          }
        }
      }
  }
}
}
.copy{
  padding:5px 0; 
  letter-spacing:.1px;
}
}






/////////////responsive//////////////////////////
@media(min-width:551px){
  .navi-link-sp{
  display:none;
}
.ham{
  display:none;
}
}


@media(max-width:550px){
  header{
  height:50px;
  align-items:center;
  position:fixed;
  top:0;
  z-index:120;
  background:transparent;
  nav{
    display:none;
}
.nav-link-sp{
  display:block;
  z-index:110;
  padding-top:5px;
  .bar{
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
}
}
.bar , .bar span {
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
  z-index:110;
&:nth-of-type(1) {
  top: 0;
}
&:nth-of-type(2) {
  top: 12px;
}
&:nth-of-type(3) {
  top: 24px;
}
}
#bar_trigger.open span{
  background:#333;
}
#bar_trigger.open span:nth-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
}
#bar_trigger.open span:nth-of-type(2) {
  opacity: 0;
}
#bar_trigger.open span:nth-of-type(3) {
  transform: translateY(-12px) rotate(45deg);
}
}
.ham{
         width:100%;
         height:100%;
         position:fixed;
         top:0;
         right:0;
         z-index:-10;
         background:$white;
         transition:0.4s ease;
         opacity:0;
         display:none;
         ul{
           margin-top:50px;
         li{
             text-align:left;
             padding:0;
             a{
                 padding:20px;
                 @include fontsize(24);
                 display:block;
                 color:$font;
             }
            
         }
}
.sns{
  padding-left:20px;
.twitter{
    color:#1DA1F2;
  }
  .facebook{
    color:#0A65C2;
  }
  .line{
    color:#00B900;
  }
.fab{
  @include fontsize(48);
  width:50px;
}
}
}

.ham.open{
opacity:1;
display:block;
}
}



//topcover
#topcover{
padding-top:50px;
position:relative;
width:100%;
background:$base;
height:auto;
.main_text{
  width:100%;
  margin:0 auto;
  text-align:center;
  padding:80px 0 100px 0;
  .title{
    @include fontsize(36);
    span{
      @include fontsize(28);
    }
  }
  .detail{
    @include fontsize(14);
  }
}
.backshape{
  width:180px;
  height:180px;
  background:#fff;
  opacity:.5;
  border-radius:50% 40%;
  position:absolute;
  top:10%;
  right:20%;
  z-index:-1;
}
.backshape2{
  width:50px;
  height:50px;
  background:$sub;
  opacity:.5;
  border-radius:30% 70% 70% 30% / 30% 30% 70% 70%;
  position:absolute;
  top:0%;
}
.backshape3{
  width:65px;
  height:65px;
  background:$key;
  opacity:.5;
  border-radius:48% 52% 44% 56% / 30% 46% 54% 70%;
  position:absolute;
  top:0%;
  right:0%;
}
.backshape4{
  width:75px;
  height:75px;
  background:$key;
  opacity:.5;
  border-radius:38% 62% 34% 66% / 50% 50% 50% 50%;
  position:absolute;
  bottom:15%;
  left:10%;
}
.backshape5{
  width:80px;
  height:80px;
  background:$sub;
  opacity:.5;
  border-radius:54% 56% 79% 21% / 64% 26% 79% 36%;
  position:absolute;
  bottom:10%;
  right:2%;
}
.backshape6{
  width:75px;
  height:75px;
  background:#fff;
  opacity:.5;
  border-radius:74% 26% 79% 21% / 64% 21% 79% 36%;
  position:absolute;
  top:-5%;
  left:25%;
  z-index:-1;
  
}

.humans{
  position:relative;
  .first{
      display:flex;
      justify-content:center;
      margin:0px;
  img{
    width:12%;
    margin:-7px -3px;
  }
  img:nth-of-type(11){
    display:none;
  }
}
.second{
    display:flex;
    position:absolute;
    top:0px;
  img{
    width:12%;
    margin:-2px -3px;
  }
  img:nth-of-type(10){
    display:none;
  }
}
}
}


//topics//
#topics{
  background:#f0f0e6;
  padding:30px 0;
  .card{
    padding:5px 30px;
    text-align:left;
    .title{
      h2{
      @include fontsize(24);
    }
      p{
        @include fontsize(14);
        color:$key;
        padding:10px 0;
      }
    }
    .news{
      figure{
        padding:20px;
        img{
          width:20%;
        }
      }
      .pattern-triangles-lg{
        background-size:5px 5px;
        color:$sub;
        display:none;
      }
    }
    .inner{
      background:#f5f5f5;
       padding:0px 5px;
     .news-text{
       padding:10px 5px;
       border-bottom:solid 1px $font;
     } 
    p{
      color:$font;
      @include fontsize(14);
    }
    .time{
      padding:5px 10px 5px 10px;
      @include fontsize(10);
    }
    }
  }
  
}

//aboutus
#aboutus{
  padding:30px 0;
  background:$base;
  position:relative;
  .backshape{
  width:150px;
  height:150px;
  background:#fff;
  opacity:.5;
  border-radius:50% 40%;
  position:absolute;
  top:10%;
  right:20%;
}
.backshape2{
  width:50px;
  height:50px;
  background:$sub;
  opacity:.5;
  border-radius:30% 70% 70% 30% / 30% 30% 70% 70%;
  position:absolute;
  top:2%;
}
.backshape3{
  width:65px;
  height:65px;
  background:$key;
  opacity:.5;
  border-radius:48% 52% 44% 56% / 30% 46% 54% 70%;
  position:absolute;
  top:2%;
  right:2%;
}
.backshape4{
  width:75px;
  height:75px;
  background:$key;
  opacity:.5;
  border-radius:38% 62% 34% 66% / 50% 50% 50% 50%;
  position:absolute;
  bottom:15%;
  left:10%;
}
.backshape5{
  width:80px;
  height:80px;
  background:$sub;
  opacity:.5;
  border-radius:54% 56% 79% 21% / 64% 26% 79% 36%;
  position:absolute;
  bottom:2%;
  right:4%;
}
.backshape6{
  width:80px;
  height:80px;
  background:#fff;
  opacity:.5;
  border-radius:74% 26% 79% 21% / 64% 21% 79% 36%;
  position:absolute;
  top:0%;
  left:20%;
}

    .text{
      h2{
        @include fontsize(24);
      }
      p{
        @include fontsize(14);
        display:block;
        padding:15px 0;
      }
    }
    
    .humans{
     position:relative;
     padding-top:50px;
     .third{
       display:flex;
       justify-content:center;
       margin:-23px;
       img{
         width:10%;
       }
     }
    }
    
    .button{
    padding: 20px 40px;
    border-radius:6px;
    display:block;
    width:75%;
    text-align:center;
    margin:0 auto;
    font-weight:bold;
    letter-spacing:.2rem;
    @include fontsize(14);
    transition:all .2s;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    background:$key;
    border:solid 1px $key;
    color:#fff;
&:hover {
    border:solid 1px $key;
    box-sizing:border-box;
    box-shadow: 0 1.5px 3.5px rgba(50,50,93,.1), 0 2px 4px rgba(0,0,0,.08);
    color:$key;
    background:#f5f5f5;
}
}
} 
  
  
//people//

#students{
 padding:30px 0;
 background:$back-gray;
 h2{
   @include fontsize(24);
 }
 .en{
   padding:15px 0;
   text-align:center;
 }
 .row{
   display:flex;
   flex-wrap:wrap;
 .stu{
   padding:10px 20px;
   width:50%;
   figure{
     text-align:center;
     padding:0;
     position:relative;
     img{
       width:100%;
       height:auto;
       border-radius:2px;
     }
     .name{
       padding:10px 0;
       border-bottom:2px solid $back-yellow;
     }
     .name1{
       padding:10px 0;
       @include fontsize(12);
       }
       figcaption{
         background:$white;
         border-radius:2px;
       }
      &:after{
        content:"";
        width:90%;
        height:100%;
        position:absolute;
        top:7px;
        right:-7px;
        background:$back-yellow;
        z-index:-1;
        border-radius:2px;
      }
   }
   .text{
     @include fontsize(16);
     display:inline-block;
   }
   .username{
     display:inline-block;
     font-weight:bold;
     margin-top:20px;
     span{
       font-weight:normal;
     }
   }
 }
}
}

//pickup//

#pickup{
  padding-top:30px;
  padding-bottom:20px;
  background:#fcfcfc;
  h2{
    @include fontsize(24);
  }
  .en{
    text-align:center;
    padding:15px 0;
  }
  .banner{
    text-align:center;
    padding-bottom:20px;
    img{
      width:70%;
    }
  }
}
  

#contact{
  background:#fcfcfc;
  padding-bottom:70px;
  .row{
    display:flex;
    justify-content:center;
  .conversion{
 padding:10px;
 display:inline-block;
 text-align:center;
 h4{
   padding:5px 0;
   position:relative;
   display:inline-block;
   @include fontsize(14);
   &:after{
     content:"";
     width:50%;
     height:2px;
     bottom:-2px;
     left:25%;
     background:$base;
     position:absolute;
   }
 }
 .tel{
   display:block;
  .tel-txt{
    @include fontsize(12);
    padding-top:20px;
  }
  .time{
    @include fontsize(12);
  }
 }
 .adress{
   display:block;
   p{
     padding-top:20px;
     @include fontsize(12);
   }
 }
}
.sns{
  text-align:center;
  padding-top:20px;
  .twitter{
    color:#1DA1F2;
  }
  .facebook{
    color:#0A65C2;
  }
  .line{
    color:#00B900;
  }
.fab{
  @include fontsize(48);
  width:100px;
}
}
}
}


//footer{
  #footer{
    background:$base;
    padding:20px 5% 0 5%;
    width: 100%;
    .footer{
      display:flex;
      flex-direction:column;
      align-items: center;
  .footer-box{
    padding:0;
  img{
    width:80px;
  }
  ul{
    display:flex;
    justify-content:center;
      li{
        padding:10px;
        letter-spacing:.2rem;
        a{
          color:$font;
          transition:.3s;
          &:hover{
            opacity:.7;
          }
          i{
            padding-right:3px;
          }
        }
      }
  }
}
}
.copy{
  padding:5px 0; 
  letter-spacing:0px;
  @include fontsize(10);
}
}

}
